.base {
  padding: 10px 22px;
  border-radius: 25px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.15);

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;

  cursor: pointer;
  background-color: darken(#fff, 5);
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;

  > img {
    margin-right: 10px;
  }
}

.inline {
  composes: base;
  display: inline-flex;
  max-width: 257px;
}

.w {
  composes: base;
  color: #062a30;
  background-color: #fff;
}

.g {
  composes: base;
  color: #fff;
  background-color: #5cc73b;
}

.b {
  composes: base;
  color: #fff;
  background-color: #062a30;
}

.inline-white {
  composes: inline w;
}
.inline-blue {
  composes: inline b;
}
.inline-green {
  composes: inline g;
}
