.detail-wrapper {
  position: relative;

  padding: 38px 125px 55px 125px;
  > img {
    position: absolute;
    top: -71px;
    right: 125px;
    width: 260px;
  }

  @media (max-width: 1000px) {
    padding: 40px 40px 140px 40px;

    > img {
      left: 50%;
      transform: translateX(-50%);
      top: -70px;
    }
  }
}

.intro {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  h3 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  span {
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    &:last-of-type {
      margin-bottom: 17px;
    }
  }

  > div {
    align-self: flex-start;
  }

  @media (max-width: 1000px) {
    padding-top: 170px;
    text-align: center;
    h3 {
      font-size: 26px;
      margin-bottom: 20px;
    }
    span {
      font-size: 17px;
      &:not(:last-of-type) {
        margin-bottom: 5px;
      }
    }
  }
}

.description {
  margin-bottom: 70px;

  p {
    white-space: pre-wrap;

    margin-bottom: 18px;
    font-weight: 300;
    font-size: 22px;
  }

  @media (max-width: 1000px) {
    p {
      font-size: 15px;
      line-height: 2.2;
      text-align: justify;
    }
  }
}

.interest-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  align-items: center;

  span {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  @media (max-width: 1000px) {
    column-gap: 20px;
    span {
      font-size: 20px;
    }
  }
}

.detail-wrapper-light {
  composes: detail-wrapper;
}

.detail-wrapper-dark {
  composes: detail-wrapper;
  background-color: #062a30;
  color: #fff;
}
