.overview-wrapper {
  width: inherit;
  height: inherit;
  background-color: #062a30;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 100px;
  justify-content: center;

  padding: 112px 166px 160px 166px;

  @media (max-width: 1000px) {
    padding: 60px 40px;
    row-gap: 0;
    > div {
      flex-direction: column;
    }
  }
}

.bootcamper-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 325px;
  padding: 0 17px;
  flex-basis: 33.33%;
  max-width: 325px;

  > div {
    width: 170px;
    height: 170px;
    margin-bottom: 23px;
    position: relative;
    img {
      border-radius: 50%;
    }
  }

  h3 {
    margin: 0 0 16px 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  p {
    padding: 0;
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  @media (max-width: 1000px) {
    margin-bottom: 60px;
    max-width: 250px;
    > div {
      width: 120px;
      height: 120px;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 5px;
      font-weight: 600;
    }

    p {
      font-size: 15px;
    }
  }
}
